@keyframes point-down {
    from {
        opacity: 0;
        translate: 0px 47vw;
    }
    to {
        opacity: 1;
        translate: 0px 48vw;
    }
}

#arrow-animation {
    position: relative;
    z-index: 10;
}
@keyframes alternating {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.member-container .blur-load::before {
    border-radius: 10px 10px;
}

#teampic-blur {
    background: linear-gradient(180deg, rgba(0,0,0,0.9) 10%, rgba(0,0,0,0) 100%);
    top: 0;
    position: absolute;
    /* min-height: 275px; */
    height: 58vw;
    max-width: 100vw;
    width: 100vw;
    z-index: 1;
    visibility: hidden;
}

.blur-load #sidus-about {
    height: 50vw;
    max-width: 100vw;
}
.blur-load.loaded ~ #teampic-blur{
    visibility: visible;
}

.blur-load .member {
    width: 10vmax;
    max-width: 10vmax;
    max-height: 10vmax;
}
#about-animation {
    left: 10px;
    top: 4.5vmax;
    position: absolute;
}

#about1 , #about2, #about3{
    position: relative;
    font-size: 4.5vmax;
    padding: 0.1vmax;
    filter: drop-shadow(1px 4px 0px black);
    z-index: 2;
}

#about1 {
    animation-name: alternating;
    animation-duration: 1500ms;
    animation-iteration-count: infinite;
    animation-direction:alternate-reverse ;
    animation-timing-function: ease-in-out;
    animation-delay: 250ms;
}

#about2 {
    animation-name: alternating;
    animation-duration: 1500ms;
    animation-iteration-count: infinite;
    animation-direction:alternate-reverse ;
    animation-timing-function: ease-in-out;
    animation-delay: 500ms;
}

#about3 {
    animation-name: alternating;
    animation-duration: 1500ms;
    animation-iteration-count: infinite;
    animation-direction:alternate-reverse ;
    animation-timing-function: ease-in-out;
    animation-delay: 1000ms;
}

img#sidus-about {
    max-width: 100%;
    padding: 0;
    aspect-ratio: 2/1;
}

#about-main-content, #about-secondary-content{
    padding-bottom: 100px;
}
#about-main-content{
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%,
            rgba(17,27,40,1) 60%, rgba(37,47,63,1) 100%);
    padding-bottom: 2vmax;
}
#about-background{
    line-height: 0;
    display: block;
    justify-self: center;
}

.content-container p {
    text-align: center;
    margin: 2vmax;
}

#about-secondary-content {
    padding-top: 1vmax;
    color: black;
    background-color: lightgrey;
}

#about-secondary-content img {
    min-width: 250px;
    /* max-width: 20vw; */
    /* padding: 1vmax; */
    /* margin: 1vmax; */
    aspect-ratio: 0;
}
.container {
    flex-direction: column;
    align-items: center;
}
#about-tertiary-content {
    padding-top: 1vmax;
    background: linear-gradient(0deg, rgba(3,3,3,0.4) 5%,
            rgba(17,27,40,1) 60%, rgba(37,47,63,1) 100%);
}
#about-tertiary-content h2 {
    display: block;
    justify-self: center;
}
img.member {
    max-width: 15vmax;
    background-color: lightgrey;
    filter: drop-shadow(6px 6px 4px black);
    border-radius: 5%;
}

.member-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;

}

.member-container div {
    /* padding: 20px; */
    margin: 1.5vmax 1.5vmax 10vmax 1.5vmax;
    max-width: fit-content;
    max-height: fit-content;
    border-radius: 10px;
    font-size: small;
}

.member-container a img {
    width: auto;
}


@media only screen and (max-width: 1600px) {
    .member-container {
        flex-wrap: wrap;
    }
    img.member {
        /* width: 50vmax; */
        max-width: 18vmax;
    }
}

/* Hard fix for mobile  */
@media only screen and (max-width: 500px) {
    #about-secondary-content img {
        translate: -80px 0;
    }
}