footer {
    background-color: black;
    padding: 25px;
}
footer p {
    font-size: small;
    opacity: 0.5;
    position: absolute;
    translate: 0 -1vmax;
}
.social-medias img{
    max-width:min-content;
    pointer-events: all;
    width: 30px;
}
.social-medias {
    position: absolute;
    translate: 0 -15px;
    right: 10px;
    z-index: 1;
}
#facebook {
    width: 20px;
}

@media only screen and (max-width: 600px) {
    footer p {
        font-size: 1.25vmax;
    }
}