footer div{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    padding: 20px;
    position: relative;
    z-index: 100;
}
footer p{
    position: absolute;
    font-size: small;
    opacity: 0.5;
    left: 10px;
    translate: 0 -4px;
}

p > img {
    opacity: 1;
    aspect-ratio: 0;
    width: 20px;
    height: 20px;
    translate: 0 9px;
}
.social-medias a img{
    /* display: flex;
    justify-content: center; */
    max-width:max-content;
    pointer-events: all;
    padding: 0px 2px 0px 2px;
    width: 30px;
}
.social-medias {
    display: flex;
    justify-content: center;
    position: absolute;
    right: 10px;
    padding: 0px 2px 0px 2px;
    z-index: 1;
}
#facebook {
    height: 30px;
    width: 20px;
}

@media only screen and (max-width: 600px) {
    footer p {
        font-size: 1.25vmax;
    }
}

@media only screen and (max-width: 334px) {
    footer p {
        font-size: 0.95vmax;
    }
}