/* Need major revisions here */
/* :root {
    
} */
@keyframes point-down {
    from {
        opacity: 0;
        translate: 0px -3vmax;
    }
    to {
        translate: 0px -1.75vmax;
    }
}

div#arrow-animation {
    display: block;
    justify-self: center;
    animation-name: point-down;
    animation-duration: 1500ms;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    position: relative;
    z-index: 200;
}

@keyframes pushUp {
    to {
        opacity: 1;
        translate: 0 -10px;
    }
}


@keyframes fadeIn {
    to {opacity: 1;}
}

@keyframes pulse {
    0% {
        background-color: rgba(255, 255, 255, 0);
    }
    50% {
        background-color: rgba(255, 255, 255, 0.1);
    }
    100% {
        background-color: rgba(255, 255, 255, 0);
    }
}
#countdown {
    font-size: 2vmax;
    padding: 0;
    margin: auto;
    opacity: 0;
    animation: fadeIn ease 2000ms forwards;
}

img {
    max-width: 12.5vmax;
    min-width: 0.1vmax;
    
    width: 100%;
    aspect-ratio: 1/1;
    object-position: center;
    object-fit: cover;
}

.blur-load::before {
    content: '';
    position: absolute;
    inset: 0;
    animation: pulse 2.5s infinite;
}
.blur-load.loaded {
    background-image: none;
}
.blur-load.loaded::before {
    content: none;
}
.blur-load {
    position: relative;
    background-size: cover;
    background-position: center;
    
}
.blur-load.loaded > img{
    opacity: 1;
}

.blur-load > img {
    opacity: 0;
    transition: opacity 750ms ease-in-out;
}
body {
    color: white;
    font-family: "IBM Plex Mono";
    background-color: black;
    width: 100%;
    overflow-x:hidden;
    margin: 0;
}

h3 {
    display: flex;
    justify-content: center;
}

section.content-container h1 {
    display: flex;
    justify-content: center;
    padding-top: 100px;
}

@media only screen and (max-width: 1200px) {
    div#arrow-animation img{
        width: 3vmax;
    }
}