/* Need major revisions here */

@keyframes point-down {
    from {translate: 0px 0px;}
    to {translate: 0px 50px;}
}

div#arrow-animation {
    animation-name: point-down;
    animation-duration: 1000ms;
    animation-iteration-count: infinite;
    animation-direction: alternate ;
}

body {
    color: white;
    font-family: "IBM Plex Mono";
    /* font-size: 1vmax; */
    background-color: black;
    width: 100%;
    overflow-x:hidden;
    margin: 0;
}

img {
    max-width: 12.5vmax;
    min-width: 0.1vmax;
}

h3 {
    display: flex;
    justify-content: center;
}

header {
    display: flex;
    position: fixed;
    width: 100%;
    top: 0;
    background-color: black;
    padding-bottom: 4.5vmax;
    z-index: 1;
}

header img{
    position: absolute;
    top: 0.05vmax;
    left: 25px;
    min-width: 0.5vmax;
    max-width: 4.5vmax;
}

header nav{
    list-style-type: none;
    position: absolute;
    top: 1.35vmax;
    right: 1.5vmax;
}

header a{
    color: white;
    display: inline;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.5vmax;
    margin-right: 10px;
}

header nav a:hover {
    border-bottom: 2px solid white;
}
section#main-content {
    background-color: black;
}

section#index-background img{
    display: block;
    justify-self: center;
    max-width: 55.5vmax;
    margin-top: 4.5vmax;
    margin-bottom: 5.5vmax;
}

/* div#arrow-animation {
    background-color: blue;
} */

section #summary h1{
    display: flex;
    justify-content: center;
}

section #summary {
    background-color: black;
    width: 100%;
    text-align: center;
}

section #summary p{
    margin: 2vmax 2vmax;
}

section.content-container h1 {
    display: flex;
    justify-content: center;
    padding-top: 100px;
}

section.content-container#secondary-content {
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(37,47,63,1) 69%);
}
section.content-container#secondary-content div.content{
    display: flex;
    flex-direction: row;
    margin-top: 10vh;
}
section.content-container#secondary-content h1 {
    translate: 0 20px;
}
section.content-container#secondary-content div p{
    text-align:left;
    margin: 2vmax 2vmax;
}

section.content-container#secondary-content img {
    display: block;
    margin: auto;
}

section#tertiary-content {
    padding-top: 1vmax;
    margin: 0%;
    color: black;
    background-color: lightgrey;
}

section#tertiary-content div{
    display: flex;
    justify-content: center;
}
/* translate is not a good solution tbh :/ */
section#tertiary-content h1{
    translate: 0px -100px;
}

section#tertiary-content img {
    max-width: 40.5vw;
}

section#tertiary-content h1#bronze-medal {
    justify-self: center;
    background-color: orange;
    padding: 10px;
    width: 100px;
    border-radius: 10px;
}

div.image-block {
    padding-bottom: 75px;
}
img#colab {
    max-width: 6vmax;
    max-height: 6vmax;
}

footer {
    background-color: black;
    padding: 0.5vmax;
}

@media only screen and (max-width: 1200px) {
    section.content-container#secondary-content div.content{
        display: flex;
        flex-direction: column;
    }
}