/* Need major revisions here */
:root {
    
}
@keyframes point-down {
    from {translate: 0px 0px;}
    to {translate: 0px 50px;}
}

div#arrow-animation {
    animation-name: point-down;
    animation-duration: 1000ms;
    animation-iteration-count: infinite;
    animation-direction: alternate ;
}

img#sidus-index {
    translate: 0 50px;
    opacity: 0;
    animation: pushUp ease 1000ms forwards;
}
@keyframes pushUp {
    to {
        opacity: 1;
        translate: 0 -10px;
    }
}

body {
    color: white;
    font-family: "IBM Plex Mono";
    /* font-size: 1vmax; */
    background-color: black;
    width: 100%;
    overflow-x:hidden;
    margin: 0;
}

img {
    max-width: 12.5vmax;
    min-width: 0.1vmax;
}

h3 {
    display: flex;
    justify-content: center;
}

header {
    display: flex;
    position: fixed;
    width: 100%;
    top: 0;
    background-color: black;
    padding-bottom: 4.5vmax;
    z-index: 1;
}

header img{
    position: absolute;
    top: 0.05vmax;
    left: 25px;
    min-width: 0.5vmax;
    max-width: 4.5vmax;
}

header nav{
    list-style-type: none;
    position: absolute;
    top: 1.35vmax;
    right: 1.5vmax;
}

header a{
    color: white;
    display: inline;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.5vmax;
    margin-right: 10px;
    
}

.link{
    position: relative;
}
.link:after{
    content: '';
    position: absolute;
    width: 0; 
    height: 1px;
    display: block;
    margin-top: 5px;
    right: 0;
    background: #fff;
    transition: width .2s ease;
    -webkit-transition: width .2s ease;
  }
   
  .link:hover:after{
    width: 100%;
    left: 0;
    background: #fff;
  }

section#main-content {
    background-color: black;
}

section#index-background img{
    display: block;
    justify-self: center;
    max-width: 55.5vmax;
    margin-top: 4.5vmax;
    margin-bottom: 5.5vmax;
}

section #summary h1{
    display: flex;
    justify-content: center;
}

section #summary {
    background-color: black;
    width: 100%;
    text-align: center;
}

section #summary p{
    margin: 2vmax 2vmax;
}

section.content-container h1 {
    display: flex;
    justify-content: center;
    padding-top: 100px;
}

section.content-container#secondary-content {
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(37,47,63,1) 69%);
}
section.content-container#secondary-content div.content{
    display: flex;
    flex-direction: row;
    margin-top: 10vh;
}
section.content-container#secondary-content h1 {
    translate: 0 20px;
}
section.content-container#secondary-content div p{
    text-align:left;
    margin: 2vmax 2vmax;
}

section.content-container#secondary-content img {
    display: block;
    margin: auto;
}

section#tertiary-content {
    padding-top: 1vmax;
    margin: 0%;
    color: black;
    background-color: lightgrey;
}

section#tertiary-content div{
    display: flex;
    justify-content: center;
}
/* translate is not a good solution tbh :/ */
section#tertiary-content h1{
    translate: 0px -100px;
}

section#tertiary-content img {
    max-width: 40.5vw;
}

section#tertiary-content h1#bronze-medal {
    justify-self: center;
    background-color: rgb(190, 100, 10);
    padding: 10px;
    width: 100px;
    border-radius: 10px;
    color: white;
}

div.image-block {
    padding-bottom: 75px;
}
img#colab {
    max-width: 6vmax;
    max-height: 6vmax;
}

footer {
    background-color: black;
    padding: 0.5vmax;
}

input {
    content: 'X';
    position: absolute;
    right: 0;
    height: 50px;
    width: 50px;
    z-index: 2;
    margin:10px;
    opacity: 0.001;
}

input:checked ~ nav {
    visibility: visible;
    transition: 300ms;
}

input:checked ~ div.menu-container div.bar2 {
    background-color: red;
}
.menu-container {
    visibility: hidden;
    position: absolute;
    top: 1vmax;
    right: 10px;
    z-index: 1;
}
.bar1, .bar2, .bar3 {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 4px 0;
    border-radius: 2px;
    /* transition: 0.4s; */
}
@media only screen and (max-width: 1200px) {
    section.content-container#secondary-content div.content{
        display: flex;
        flex-direction: column;
    }

    nav {
        display: flex;
        flex-direction: column;
        visibility: hidden;
        /* background: linear-gradient(270deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 80%); */
        background: black;
        translate: 20px 0;
        padding: 50vh 5%;
    }
    nav a {
        translate: 20px -400px;
        padding-bottom: 0.25vmax;
        font-size: 3vmax;
        /* text-align: center; */
    }
    .menu-container {
        visibility: visible;
    }
}