.blur-load::before {
    max-width: max-content;
}

@keyframes point-down {
    from {
        opacity: 0;
        translate: 0px 0vmax;
    }
    to {
        translate: 0px 1vmax;
    }
}

.blur-load.loaded img#sidus-index {
    aspect-ratio: 0;
    translate: 0 50px;
    opacity: 0;
    animation: pushUp ease 1000ms forwards;
    width: 100%;
}

section.content-container#index-main-content div{
    margin: 5vmax 0 10vmax 0;
    background-color: black;
}

section#index-background img{
    display: flex;
    justify-self: center;
    max-width: 55.5vmax;
    /* max-width: 100%; */
    margin-top: 5.75vmax;
}

#summary {
    background-color: black;
    width: 100%;
    text-align: center;
}

#summary p{
    margin: 2vmax 2vmax;
}

#index-secondary-content {
    background: linear-gradient(180deg, rgba(0,0,0,0.1) 0%, rgba(37,47,63,1) 69%);
}
#index-secondary-content .content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10vh;
}
#index-secondary-content h1 {
    translate: 0 20px;
}
#index-secondary-content div p{
    width: 20vmax;
    text-align:left;
    margin: 2vmax 2vmax;
}

#index-secondary-content img {
    display: block;
    margin: auto;
    width: 10vmax;
}

#index-tertiary-content {
    display: block;
    justify-content: center;
    align-items: center;
    padding: 0 0 12vmax 0;

    color: black;
    background-color: lightgrey;
}

#index-tertiary-content div{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* translate: 0 -50px; */
}

#index-tertiary-content img {
    max-width: 45.5vw;
}

h1#bronze-medal {
    display: flex;
    justify-self: center;
    background-color: rgb(171, 85, 39);
    padding: 10px;
    width: 100px;
    border-radius: 10px;
    color: white;
}

img#colab {
    aspect-ratio: 4/1.1;
    max-width: 40vmax;

}
img#pegnl {
    aspect-ratio:0;
    width: 22vmax;
    max-width: 22vmax;
}

@media only screen and (max-width: 1200px) {
    /* img#sidus-index {
        width: 39vmax;
    } */
    section.content-container#index-secondary-content div.content{
        display: flex;
        flex-direction: column;
    }

    section.content-container#index-secondary-content .content p{
        width: auto;
    }

    h1#countdown {
        text-align: center;
        font-size: 2vmax;
        margin: 0 10px 0 10px;
    }
}