.blur-load::before {
    animation: none;
}
header {
    display: flex;
    position: fixed;
    width: 100%;
    min-height: 10px;
    top: 0;
    background-color: black;
    z-index: 100;
}

header img{
    translate: 1vmax 0;
    min-width: 0.5vmax;
    width: 4.5vmax;
    max-width: 4.5vmax;
}

header nav{
    list-style-type: none;
    position: absolute;
    top: 1.35vmax;
    right: 1.5vmax;
}

header a{
    color: white;
    display: inline;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.5vmax;
    margin-right: 10px;  
}

.link{
    position: relative;
}
.link:after{
    content: '';
    position: absolute;
    width: 0; 
    height: 1px;
    display: block;
    margin-top: 1px;
    right: 0;
    background: #fff;
    transition: width .2s ease;
    -webkit-transition: width .2s ease;
}

.link:hover:after{
width: 100%;
left: 0;
background: #fff;
}

input {
    content: '';
    cursor: pointer;
    pointer-events: none;
    position: absolute;
    right: 0;
    height: 3vmax;
    width: 3vmax;
    z-index: 2;
    margin: 1vmax 21px;
    opacity: 0;
}

input:checked ~ nav {
    translate: 20px;
    visibility: visible;
    transition: 300ms;
}


input:checked ~ div.menu-container div.bar3 {
    translate: 0 -5px;
    rotate: 45deg;
} 

input:checked ~ div.menu-container div.bar2 {
    opacity: 0;
}

input:checked ~ div.menu-container div.bar1 {
    translate: 0 9px;
    rotate: -45deg;
}

.menu-container {
    visibility: hidden;
    position: absolute;
    top: 0.9vmax;
    right: 20px;
    z-index: 1;
}
.bar1, .bar2, .bar3 {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 4px 0;
    border-radius: 2px;
    transition: 100ms;
}

@media only screen and (max-width: 1200px) {
    nav {
        display: flex;
        flex-direction: column;
        visibility: hidden;
        background: linear-gradient(270deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 90%);
        translate: 20vmax 0;
        padding: 50vmax 5%;
    }
    nav a {
        translate: 20px -45vmax;
        padding-bottom: 0.25vmax;
        padding-right: 2vmax;
        font-size: 3vmax;
    }
    div.blur {
        position: fixed;
        margin: 4px 0;
        padding: 100%;
        height: 100%;
        z-index: -1;
    }
    
    input:checked ~ div.blur{
        background: rgba(0, 0, 0, 0.75);
    } 
    input {
        pointer-events: all;
    }
    input:not(:checked) ~ nav {
        translate: 100vw;
        visibility: visible;
        transition: 200ms;
    }

    .menu-container {
        visibility: visible;
    }
}