.blur-load::before {
  max-width: max-content;
}

#sponsors-main-content{
  background: linear-gradient(180deg, rgba(0,0,0,0.25) 5%, rgba(37,47,63,1) 69%);
}
#sponsors-background h1 {
  transform: translateY(200px);
}
.content{
  display: flex;
  justify-content: center;
  transform: translateY(200px);
  height: 80vh; 
}

.content-container p{
  width: 75vw;
  text-align:center;
  margin: 2vmax 2vmax;
}

.banner-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10vmax 0 10vmax ;
}

.banner-container h1 {
  letter-spacing: 5px;
}
.banner-container h1, h2, h3{
  display: flex;
  justify-content: center;
}
.text-content {
  position: absolute;
  translate: 9px 200px;
  z-index: 1;
}

.text-content h3, ul li {
  padding: 0 0 50px 0;
}

.banner img {
  aspect-ratio: 1/4;
  margin: 0 20px 0 20px;
  min-width: fit-content;
  filter: drop-shadow(0px 0px 20px black);
}

.banner ul li {
  text-align: left;
  width: 285px;
}

/* .link {
  text-decoration: none;
  color: black;
  font-family: "IBM Plex Mono";
  font-size:larger;
  font-weight: bold;
}
.link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
} */
#sponsors-secondary-content {
  display: flex;
  justify-content: center;
  background-color: lightgrey;
  min-width: fit-content;
  /* padding:100vw; */
}
#sponsors-secondary-content div:nth-child(1) img{
  width: 25vw;
  /* max-width: 10vw; */
  aspect-ratio: 2/1;
}
#sponsors-secondary-content div:nth-child(2) img{
  aspect-ratio: 0;
  width: 10vw;
  /* max-width: 10vw; */
}
@media only screen and (max-width: 1200px) {
  .banner img {
    /* aspect-ratio: 1/5;
    width: 100px;
    height: 100px; */
  }
}