---
// import { Image } from 'astro:assets';
// import Navigation from '../components/navigation.astro';
// import softwareImage from '../Images/softwareteam.png';
// import electricalImage from '../Images/electricalteam.jpg';
// import mechImage from '../Images/mechanicalteam.webp';
// import businessImage from '../Images/businessteam.jpg';
import "../styles/global.css"
// import "../styles/about.css"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Sidus Robotics</title>
	</head>
	<body>
        
	</body>
</html>