---
import Navigation from '../components/navigation.astro';
import starsImage from '../Images/stars-1.png';
import logo from '../Images/FullLogo.png';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Sidus Robotics</title>
	</head>
	<body>
		<Navigation />
		<div class="images">
			<img class="stars" src={starsImage.src} alt="Stars">
			<img class="logo" src={logo.src} alt="Sidus Logo">
		</div>
		<p>Summary of Sidus</p>
		
	</body>
</html>
<style>
	.stars{
		width: 100%;
	}
	.logo{
		position: absolute;
    	top: 50%;
    	left: 50%;
   		transform: translate(-50%, -50%); 
    	width: 30%;
    	height: auto; 
		filter: invert(100%); /*could just change image to a white version of logo*/
	}
	.images{
		margin-top: 40px;
		position: relative; 
		
	}
	body{
		background-color: black;
		color: white;
	}
</style>