---
import LinkedIn from "../Images/LinkedIn.png"
import Facebook from "../Images/Facebook.png"
import Instagram from "../Images/Instagram.png"
import "../styles/global.css"
import "../styles/footer.css"
---
<footer>
    <p>2025 Sidus Robotics. All Rights Reserved</p>
    <div class="social-medias">
        <a href=""><img src={LinkedIn.src} alt=""></a>
        <a href=""><img src={Facebook.src}alt=""></a>
        <a href="https://www.instagram.com/sidusrobotics/"><img src={Instagram.src} alt=""></a>
    </div>
</footer>