---
import LinkedIn from "../Images/Misc/LinkedIn.svg";
import Facebook from "../Images/Misc/Facebook.svg";
import Instagram from "../Images/Misc/Instagram.svg";
import Copyright from "../Images/Misc/Copyright.png";
import "../styles/global.css";
import "../styles/footer.css";
---

<footer>
  <div class="container">
    <p><img src={Copyright.src} alt="" />2025 Sidus Robotics</p>
    <div class="social-medias">
      <a href="https://www.linkedin.com/company/sidus-robotics/"
        ><img loading="eager" src={LinkedIn.src} alt="" id="linkedin" /></a
      >
      <a href="https://www.facebook.com/share/157vVRRxHz/"
        ><img loading="eager" src={Facebook.src} alt="" id="facebook" /></a
      >
      <a href="https://www.instagram.com/sidusrobotics/"
        ><img loading="eager" src={Instagram.src} alt="instagram" /></a
      >
    </div>
  </div>
</footer>
