---
import LogoStar from "../Images/Logos/SidusRoboticsWhite.png";
import "../styles/global.css";
import "../styles/navigation.css";
---

<header>
  <div class="blur-load">
    <a href="/"><img loading="lazy" src={LogoStar.src} alt="logo.png" /></a>
  </div>

  <div class="container">
    <input class="drop-down" type="checkbox" />
    <div class="blur"></div>
    <nav>
      <a href="/" class="link">HOME</a>
      <a href="/about" class="link">ABOUT</a>
      <a href="/sponsors" class="link">SPONSORS</a>
      <a
        href="mailto:sidusrobotics@gmail.com?subject=Inquiries"
        target="_blank"
        class="link">CONTACT</a
      >
    </nav>
  </div>

</header>
