---
import LogoStar from "../Images/SidusRoboticsWhite.png"
import "../styles/navigation.css"
import "../styles/global.css"
---
<header>
    <a href="/"><img loading="lazy" src={LogoStar.src} alt=""></a>
  
    <input class="drop-down" type="checkbox"></input>

    <div class="menu-container">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
    </div>

    <div class="blur"></div>

    <nav>
        <a href="/" class="link">HOME</a>
        <a href="/about" class="link">ABOUT</a>
        <a href="/sponsors" class="link">SPONSORS</a>
        <a href="/contact" class="link">CONTACT</a>
    </nav>
</header>